head{
	font-family: "Script", Veranda;
	font-style: 200px
}

body{
	font-size: 20;
	font-color:crimson;
	font-family: "Metropolis", Arial, serif;
margin: 50px;
}


*{box-sizing: border-box;
}

div.poem{
	font-size: 10;
	margin: 275px 0  
}  

div.poem1{
	text-decoration: none;
	margin-bottom: 10px; 

	margin-bottom: 10px;

	padding: 10px;
	color: rgb(255,255,255);
	display: inline-block;
	vertical-align: top;
	width: 33.333%;
	height: 200px;
	background: crimson;
	font-size: 35px;
}

div.poem2{
	text-decoration: none;
	margin-bottom: 10px; 

	margin-bottom: 10px;

	padding: 10px;
	color: rgb(255,255,255);
	display: inline-block;
	vertical-align: top;
	width: 33.333%;
	height: 200px;
	background: white;
	font-size: 50px;
}